# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Documentation files
#
/docs/

# Generated & compiled files
#
/types/

/*.tgz

/tsconfig.tsbuildinfo
/yarn-error.log

# Environmental files
#
.env
.gitkeep

# Files with sensitive data
#
/.github/

# Config files
#
/.editorconfig
/.eslintrc.js

/tsconfig.json
/vite.config.js
