<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vuert.js</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.1.2/css/brands.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.1.2/css/solid.min.css" />
        <link rel="stylesheet" href="./static/css/styles.css" />
    </head>
    <body id="app">
        <alert-handler class="alert-handler" :hidden="!hasBeenMounted"
                       v-slot="{ alert, close, isOpen }" :filter="(a) => a.priority === 'high'">
            <transition name="modal" mode="in-out">
                <div v-if="alert" v-show="isOpen" class="flex overlay">
                    <div class="flex modal">
                        <div class="flex modal-header">
                            <h5 class="modal-title">
                                <span v-if="alert.icon" class="fa-solid" :class="`fa-${alert.icon}`"></span>
                                <span v-if="alert.title">{{ alert.title }}</span>
                            </h5>
                            <button v-if="alert.dismissable" class="modal-close" @click="close">
                                <span class="fa-solid fa-circle-xmark"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <pre v-if="alert.message" class="modal-message">{{ alert.message }}</pre>
                            <template v-else>
                                <component :is="alert.component" />
                            </template>
                        </div>
                        <div v-if="alert.actions" class="flex modal-footer">
                            <button v-for="action in alert.actions" :key="action.id"
                                    class="button" :class="action.type" @click="close">
                                <span v-if="action.icon" class="fa-solid" :class="`fa-${action.icon}`"></span>
                                {{ action.label }}
                            </button>
                        </div>
                    </div>
                </div>
            </transition>
        </alert-handler>
        <alert-handler class="alert-handler" :hidden="!hasBeenMounted"
                       v-slot="{ alert, close, isOpen }" :filter="(a) => a.priority === 'low'">
            <transition name="toast" mode="in-out">
                <div v-if="alert" v-show="isOpen" class="toast">
                    <component :is="alert.component" />
                </div>
            </transition>
        </alert-handler>
        <header id="home" class="flex jumbotron">
            <h1>Vuert.js</h1>
            <h3>The headless alerts, notifications & popups library for Vue.js craftsmen.</h3>
            <div class="container">
                <hr />
            </div>
            <button class="button primary" @click="emitRandomAlert">Surprise me!</button>
            <a href="#info">
                <span class="fa-solid fa-angles-down"></span>
            </a>
        </header>
        <main id="info" class="container">
            <section>
                <h2>Why Vuert?</h2>
                <div class="left">
                    <h4>Insanely Easy</h4>
                    <p>
                        Stop struggling in vain!<br />
                        <br />
                        Done like you would... Designed to be as developer-friendly as possible.<br />
                        Go straight to the point!
                    </p>
                </div>
                <div class="right">
                    <h4>Completely Headless</h4>
                    <p>
                        It's just pure logic!<br />
                        <br />
                        Vuert comes with no style... Actually, it comes with no renderable elements!<br />
                        This allows you to define your own components and to style them to match exactly your theme.<br />
                        Unleash your imagination!
                    </p>
                </div>
                <div class="left">
                    <h4>Simply Managed</h4>
                    <p>
                        It's disaster proof!<br />
                        <br />
                        Say your app enters an infinite loop emitting gazillions of alerts...<br />
                        Your users won't be overwhelmed with popups and notifications!<br />
                        Everything will continue working just fine... Even if your app is imploding, under the hood.<br />
                        <br />
                        <i>
                            Someone said "Debouncing" or "Throttling"?<br />
                            There will be in future releases!
                        </i><br />
                        <br />
                        Don't worry about what happens... Just stay focused on what you do best.<br />
                        Slee... <i>Ahem...</i> Develop soundly!
                    </p>
                </div>
                <div class="right">
                    <h4>Meticulously Typed</h4>
                    <p>
                        100% written in TypeScript!<br />
                        <br />
                        You know what it's need as an input... You know what you get as an output.<br />
                        You can't go wrong!
                    </p>
                </div>
            </section>
            <hr />
            <section>
                <h2>Installation</h2>
            </section>
            <hr />
            <section>
                <h2>How to use</h2>
            </section>
            <hr />
            <section>
                <h2>Sponsors</h2>
                <h4>Special Sponsors</h4>
            </section>
            <hr />
            <section>
                <h2>Special thanks</h2>
            </section>
        </main>
        <footer class="footer container">
            <p>
                Made with lot of <span class="fa-solid fa-heart"></span> by
                <a href="https://www.byloth.net/" target="_blank">Byloth</a>.
            </p>
        </footer>
        <script crossorigin defer src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
        <script defer src="./dist/vuert.umd.cjs"></script>
        <script id="someone-just-template" type="text/x-template">
            <div class="flex someone-just">
                <img class="avatar" :src="avatar" />
                <span>
                    <strong>{{ fullname }}</strong> just {{ action }}.
                </span>
            </div>
        </script>
        <script defer src="./static/js/scripts.js"></script>
    </body>
</html>
