/*
 * Animations
 */
@keyframes pulse
{
    0% { transform: scale(1); }
    15% { transform: scale(1); }
    30% { transform: scale(1.25); }
    52% { transform: scale(1); }
    68% { transform: scale(1.25); }
    90% { transform: scale(1); }
    100% { transform: scale(1); }
}
/*
 * HTML tags
 */
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: "Ubuntu";
}

[\:hidden]
{
    display: none;
}

/*
 * Generics
 */
.flex
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left
{
    text-align: left;
}
.overlay
{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.right
{
    text-align: right;
}

/*
 * Icons
 */
.fa-heart
{
    color: #FF0000;
}
    .fa-heart:hover
    {
        animation: pulse 1.5s infinite;
    }

/*
 * Objects
 */
.avatar
{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 50%;
    height: 50px;
    margin-right: 0.75em;
    min-width: 50px;
    width: 50px;
}
    /*
     * Buttons
     */
    .button
    {
        background-color: #F0F0F0;
        border: 1px solid #D7D7D7;
        box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
        border-radius: 0.666em;
        padding: 0.25em 0.5em;
        transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    }
    .button:hover
    {
        background-color: #F7F7F7;
        box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    }
    .button:active
    {
        background-color: #E7E7E7;
        box-shadow: inset 1px 1px 2px rgb(0, 0, 0, 0.5);
        transition: none;
    }

    .button.primary
    {
        background-color: #3399FF;
        border-color: #0A84FF;
        color: #FFFFFF;
    }
    .button.primary:hover
    {
        background-color: #55AAFF;
    }
    .button.primary:active
    {
        background-color: #208FFF;
    }


.container
{
    text-align: center;
}
.jumbotron
{
    flex: 1;
    height: 100vh;
}

    /*
     * Modal
     */
    .modal
    {
        background-color: #FFFFFF;
        border: 1px solid #D7D7D7;
        border-radius: 1em;
        box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.5);
    }
    .modal > .modal-header,
    .modal > .modal-body,
    .modal > .modal-footer
    {
        padding: 0.75em 1em;
        width: 100%;
    }

    .modal > .modal-header
    {
        border-bottom: 1px solid #D7D7D7;
        flex-direction: row;
    }
    .modal > .modal-header > .modal-title
    {
        flex: 1;
        margin-bottom: 0;
    }
    .modal > .modal-header > .modal-title > .fa-solid
    {
        margin-right: 0.5em;
    }
    .modal > .modal-header > .modal-close
    {
        background: none;
        border: none;
        opacity: 0.5;
        transition: opacity 200ms ease-in-out;
    }
    .modal > .modal-header > .modal-close:hover
    {
        opacity: 1;
    }

    .modal > .modal-body > .modal-message
    {
        font-family: "Ubuntu";
        margin-bottom: 0;
    }

    .modal > .modal-footer
    {
        border-top: 1px solid #D7D7D7;
        flex-direction: row-reverse;
        justify-content: end;
    }
    .modal > .modal-footer > .button
    {
        margin-left: 0.5em;
    }


.toast
{
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 37px;
    box-shadow: 2.5px 2.5px 5px rgb(0, 0, 0, 0.5);
    font-size: 0.875em;
    max-width: 300px;
    padding: 0.75em 1em;
    position: fixed;
    right: 2em;
    top: 1.5em;
}

/*
 * Vue Components
 */
.someone-just
{
    flex-direction: row;
}

/*
 * Transitions
 */
.modal-enter-active,
.modal-leave-active
{
    transition: opacity 200ms ease-in-out;
}
    .modal-enter-active > .modal,
    .modal-leave-active > .modal
    {
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }

.modal-enter-from,
.modal-leave-to
{
    opacity: 0;
}
    .modal-enter-from > .modal,
    .modal-leave-to > .modal
    {
        transform: translateY(-12.5%);
    }

.toast-enter-active,
.toast-leave-active
{
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.toast-enter-from,
.toast-leave-to
{
    opacity: 0;
    transform: translateX(33.333%);
}
